/* remove unnecessary left padding for radio options */
body#comp-Admin-Tools-EditConfig div.widget .label {
    width: auto;
    float: none;
}

body#comp-Admin-Tools-EditConfig .widget.code textarea {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

